---
const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);

// example of using Prisma to fetch user data
// import sql from "../../lib/prisma";

// const user = await sql.user.findUnique({
//   where: { id: session.user.userId },
// });

// console.log(user);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Username & password auth with Lucia</title>
  </head>
  <body>
    <h1>Profile</h1>
    <p>User id: {session.user.userId}</p>

    <p>Username: {session.user.username}</p>

    <form method="POST" action="/api/logout">
      <input type="submit" value="Sign out" />
    </form>
  </body>
</html>
